<a href="https://colab.research.google.com/github/heyoo807/TIL/blob/master/0714TIL_%EC%9E%AC%EA%B7%80%ED%98%B8%EC%B6%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **1. 재귀호출(recursive call)**
* 함수 안에서 동일한 함수를 호출하는 방법
* 여러 알고리즘, 고급 정렬 알고리즘 작성시 자주 사용됨

### **1-1. 재귀 호출 분석**
* 2! = 2 * 1
* 3! = 3 * 2 * 1
* 4! = 4 * 3 * 2 * 1

### **1-2. 규칙**
n! = n * (n-1)!
1. 함수로 만듬
2. 함수(n)은 n>1이면 return n * 함수(n-1)

### **1-3. 검증**
1. 2! 
  * 함수(2)이면 2 > 1이므로 2 * 함수(1)
  * 함수(1)은 1이므로 return 2 * 1, 답은 2
2. 3!
  * 함수(3)은 3 > 1이므로 3 * 함수(2)
  * 함수(2)는 1번에 의해 2이므로 return 2* 1 = 2
  * 3 * 함수(2) = 3 * 2 * 1, 답은 6
3. 4!
  * 함수(4)은 4 > 1이므로 4 * 함수(3)
  * 함수(3)은 1번에 의해 6이므로 return 3 * 2 * 1 = 6
  * 4 * 함수(3) = 4 * 3 * 2 * 1 , 답은 24

In [1]:
def factorial(num):
  if num > 1:
    return num * factorial(num-1)
  else:
    return num

In [2]:
for num in range(5):
  print(factorial(num))

0
1
2
6
24

### **1-4. 재귀호출의 시간복잡도**
* factorial(n)은 n-1번의 factorial()함수를 호출하여 곱셈을 함
* factorial()함수를 호출할 때마다 지역변수 n이 생성됨
* 시간복잡도는 O(n-1)이므로 O(n)이다

### **1-5. 재귀호출의 일반적인 형태**
형태1.
```
def function(입력값):
  if 입력값 > 특정값:
      return 입력 * function(입력값-1)
  else:
      return 일정값, 입력값, 또는 특정값
```
형태2.
```
def function(입력값):
  if 입력값 <= 특정값:
    return 일정값, 입력값, 또는 특정값
  function(입력보다 작은 값)
  return 결과값

```

In [3]:
def factorial(num):
  if num <= 1:
    return num
  return num * factorial(num-1)

In [5]:
for num in range(10):
  print(factorial(num))

0
1
2
6
24
120
720
5040
40320
362880

### **1-6. 재귀 호출의 전형적인 예**
* 함수는 내부적으로 스택처럼 관리
* https://pythontutor.com/visualize.html#mode=display
> 파이썬에서는 재귀 함수 깊이(한번에 호출되는) 1000회 이하로 되어야 함

### **문제**
다음함수를 재귀 함수를 활용해서 1부터 num까지의 곱이 출력되도록 만들어보자
```
def multiple(data):
  if data <= 1:
      return data
  return ...

multiple(10)
```

In [9]:
def multiple(data):
  if data <= 1:
    return data
  return data * multiple(data-1)

In [10]:
multiple(10)

3628800

In [11]:
def multiple(data):
  return_data = 1
  for index in range(1, num+1):
    return_data = return_data * index
  return return_data

In [12]:
multiple(10)

362880

### **문제**
회문은 "순서를 거꾸로 읽어도 제대로 읽은 것과 같은 단어와 문장을 의미"합니다
회문을 판별할 수 있는 함수를 리스트 슬라이싱을 활용하여 만들어보자
  *  재귀함수를 사용
  *  회문이면 True, 아니면 False를 반환

In [13]:
string = "apple"
print(len(string)) #5

5

In [27]:
def palindrome(string):
  if len(string) <= 1: # 문자열의 길이가 1과 같거나 그보다 작다면
    return True
  if string[0] == string[-1]:
    return palindrome(string[1:-1]) # 문자열의 1번째글자부터 마지막 이전 글자까지 슬라이싱 
  else: # 문자열의 첫글자와 마지막 글자가 같지 않다면
    return False

In [28]:
print(palindrome('apple')) # False
print(palindrome('system')) # False
print(palindrome('oddo')) # True
print(palindrome('wow')) # True

False
False
True
True

In [24]:
def palindrome(string):
  for i in range(len(string)):
    if string[i] == string[len(string)-i-1]:
      if i == int(len(string) / 2):
        return True
      continue
    return False

In [26]:
print(palindrome('apple')) # False
print(palindrome('system')) # False
print(palindrome('oddo')) # True
print(palindrome('wow')) # True

False
False
True
True

### **문제.**
정수 n을 입력받아 아래와 같이 처리하는 프로그램을 만들어보자
1. n이 홀수면 3 * n + 1을 함
2. n이 짝수면 n을 2로 나눔
3. 이렇게 계속 진행해서 n이 결국 1이 될때까지 1과 2를 반복하며 실행

In [43]:
def func(n):
  print(n)
  if n == 1:
    return n
  if n % 2 == 1:
    n = 3 * n + 1
  elif n % 2 == 0:
    n = n // 2
  return func(n)

In [44]:
func(3)

3
10
5
16
8
4
2
1

1

In [49]:
def func(n):
  print(n)
  if n == 1:
    return n
  if n % 2 == 1:
    return (func((3 * n) + 1))
  else:
    return (func(int(n / 2)))

In [50]:
func(3)

3
10
5
16
8
4
2
1

1